{% extends "baseratelist/base.html" %}

{% block title %}オンゲキ譜面定数一覧{% endblock title %}
{% block h1 %}オンゲキ譜面定数一覧{% endblock h1 %}
{% block p1 %}オンゲキの各楽曲の譜面定数などを載せていきます{% endblock p1 %}

{% block content %}
    <h4 class="mt-4 border-bottom">楽曲の一覧</h4>
    <table class="table table-striped" id="foo-table">
      <thead>
        <tr>
          <th scope="col">曲名</th>
          <th scope="col">難易度</th>
          <th scope="col">レベル</th>
          <th scope="col">譜面定数</th>
          <th scope="col">総ノーツ数</th>
          <th scope="col">総ベル数</th>
          <th scope="col">ジャンル</th>
          <th scope="col">一言</th>
          <th scope="col">{{ music_info }}</th>
        </tr>
      </thead>
    </table>
{% endblock content %}

